@import "antd/antd";
@import "tailwind/tailwind";
@import "common/scrollbar";
@import "common/navbar";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  color: var(--color-text-primary);
}

a {
  text-decoration: none;
}
